.add-students {
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__list {

    }

    &__item {
        display: flex;
        gap: 20px;
        padding: 10px;

        &:nth-child(2n - 1) {
            background-color: #393939;
        }
    }

    &__btn {
        display: block;
        margin: 0 0 0 auto;
    }

    &__item-info {
        flex-basis: calc(16.66666% - 17px);
        flex-shrink: 0;
    }
    
    &__legend {
        display: flex;
        gap: 20px;
        padding: 10px;
        background-color: #171717;
        
        &-item {
            flex-basis: calc(16.66666% - 17px);
            font-size: 18px;
            font-weight: bold;
            color: #f7f7f7;
        }
    }
}