.add-hr{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
  width: 70%;

  &__title{
    margin-bottom: 20px;
    font-size: 34px;
    letter-spacing: 1px;
  }

  &__form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 200px;


    &-input{
      display: flex;
      flex-direction: column;
      width: 45%;

      &-label{
        margin-left: 10px;
        font-size: 18px;
        letter-spacing: .5px;
      }
    }
  }

  &__btn{
    display: block;
    margin: 40px auto;
    width: 200px;
    font-size: 20px;
    letter-spacing: .5px;
  }
}