// .container {
//   background-color: #292a2b;
//   width: 90%;
//   height: auto;
//   padding: 20px;
//   margin: 0 auto;

//   .search-area {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;

//     .search-area__filter-button {
//       font-family: 'Catamaran';
//       background-color: #1e1e1f;
//       border: #1e1e1f;
//       color: #f7f7f7;
//     }

//     .search-area__input {
//       background-color: #1e1e1f;
//       color: #666666;
//       font-family: 'Catamaran';
//       height: 47px;
//     }
//   }

//   .separation-line {
//     background-color: #202122;
//     height: 2px;
//     margin: 15px 0;
//   }

//   .list {
//     list-style: none;

//     .list-item {
//       margin-top: 15px;

//       .list-item-container {
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         margin-bottom: 15px;

//         .list-item-container__right-section {
//           display: flex;
//           align-items: center;

//           .list-item-container__button {
//             font-family: 'Catamaran';
//             margin-right: 20px;
//           }

//           .list-item-container__button:hover {
//             background-color: #e02735;
//           }
//         }
//       }

//       .list-item-info-container {
//         .list-item-info {
//           background-color: #222324;
//           margin-top: 5px;
//           padding: 10px;
//         }
//       }
//       .list-item-separator {
//         background-color: #1e1e1f;
//         height: 10px;
//       }
//     }
//   }
// }

// .arrow-icon {
//   color: #666666;
//   font-size: 20px;
//   cursor: pointer;
// }

// @media (min-width: 1366px) {
//   .container {
//     .list {
//       .list-item-info-container {
//         display: flex;
//         min-height: 160px;

//         .list-item-info {
//           display: flex;
//           flex-direction: column;
//           justify-content: space-between;
//           margin-right: 1px;

//           .list-item-info__first {
//             font-size: 12px;
//           }
//           .list-item-info__second {
//             font-size: 15px;
//           }
//         }

//         .list-item-info:last-child {
//           margin-right: 0;
//         }
//       }
//     }
//   }
// }


.hr-list {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 15px;
    border-bottom: 2px solid #202122;
    background-color: #292A2B;
  }

  &__list {
    background-color: #1E1E1F;

    &-container {
      padding: 15px;
      background-color: #292A2B;
    }
  }

  &__item {
    margin-bottom: 15px;
    background-color: #292A2B;

    &:nth-last-child(1) {
      margin-bottom: 0;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 15px;

      &-left {
        display: flex;
      }

      &-right {
        display: flex;
        align-items: center;
        gap: 20px;

        &-icon {
          cursor: pointer;
        }
      }

      &-box {
        display: flex;
        align-items: center;
      }

      &-img {
        margin: 0 15px 0 60px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }

    }

    &-info {
      display: flex;
      width: 100%;
      height: 110px;
      background-color: #222324;
    
      &-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 12px 8px;
        min-width: 8%;
        height: 100%;
        border-right: 1px solid #292A2B;
    
        .title-Item__title {
          font-size: 12px;
        }
    
        .title-Item__text {
          font-size: 15px;
          color: #F7F7F7;
        }

        .title-Item__span{
          color: #9E9E9E;
        }
      }
    }
  }
}