.profile-edit {
    position: relative;
    &__form {
        &-section {
            margin-bottom: 10px;

            &--flex {
                display: flex;
                gap: 10px;
            }
        }

        &-title {
            font-size: 16px;
        }

        &-flex-item {
            flex-basis: calc(25% - 13px);

            &--x2 {
                flex-basis: 100%;
            }
        }

        &-input-item {
            display: flex;
            align-items: center;
            gap: 6px;
            margin-bottom: 6px;
        }

        &-textarea {
            width: 100%;
            resize: vertical;
        }
    }

    &__button {
        display: block;
        margin: 0 0 0 auto;
    }
}